* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  transition: 0.25s;
}

main,
header {
  margin: 5px;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

header {
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  font-size: 25px;
  font-family: monospace;
  cursor: pointer;
}

.nav-links ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

.nav-links ul li a {
  color: hsl(0, 0%, 20%);
  padding: 7px 5px;
  font-size: 17px;
  position: relative;
}

.nav-links ul li a:hover {
  color: hsl(48, 96%, 53%);
}

#login-btn,
#signup-btn {
  border: 1px solid hsl(0, 0%, 20%);
}

#login-btn:hover {
  color: hsl(120, 100%, 45%);
}

#signup-btn:hover {
  color: hsl(211, 100%, 50%);
}

#hero-slider {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px;
}

.slide-container {
  width: 50%;
  display: flex;
  overflow: hidden;
}

.slides {
  width: 400%;
  display: flex;
  animation: slide 20s infinite;
}

.slides img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 12px;
}

.hero-info {
  flex: 1;
}

#hero-header {
  font-size: 80px;
  margin-bottom: 10px;
  color: hsl(48, 96%, 53%);
}

.hero-about p {
  font-size: 17px;
  line-height: 32px;
  color: hsl(0, 0%, 10%);
}

footer {
  padding: 25px 10px;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 80%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-links ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.footer-links ul li a {
  text-decoration: underline;
  color: hsl(0, 0%, 75%);
}

.footer-links ul li a:hover {
  color: hsl(0, 0%, 50%);
}

footer span {
  color: hsl(48, 96%, 53%);
}

.phone a:hover,
.email a:hover {
  color: hsl(211, 100%, 50%);
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-100%);
  }

  45% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-200%);
  }

  70% {
    transform: translateX(-200%);
  }

  75% {
    transform: translateX(-300%);
  }

  95% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes mobile-slide {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-65%);
  }

  45% {
    transform: translateX(-65%);
  }

  50% {
    transform: translateX(-140%);
  }

  70% {
    transform: translateX(-140%);
  }

  75% {
    transform: translateX(-215%);
  }

  95% {
    transform: translateX(-215%);
  }

  100% {
    transform: translateX(0);
  }
}


@media (max-width: 900px) {
  #hero-slider {
    flex-direction: column;
    text-align: center;
  }

  .hero-info {
    max-width: 100%;
  }
}

@media (max-width:450px) {
  header {
    margin: 0;
  }

  nav {
    flex-direction: column;
    gap: 10px;
  }

  #hero-slider {
    padding: 20px;
    flex-direction: column;
  }

  .slide-container {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 5px hsl(0, 0%, 10%);
  }

  .slides img {
    width: 100%;
    height: 250px;
  }

  footer {
    font-size: 12px;
    padding: 10px;
  }
}