.services {
  padding: 40px 20px;
  text-align: center;
}

.services h2 {
  font-size: 40px;
  margin-bottom: 10px;
  color: hsl(48, 96%, 53%);
}

.services p {
  font-size: 20px;
  color: hsl(0, 0%, 20%);
  margin-bottom: 50px;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin: 0 auto;
}

.service-card {
  background-color: hsl(48, 96%, 53%);
  color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 10px hsla(0, 0%, 0%, 0.5);
  text-align: left;
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

.card-inner {
  width: 205%;
  height: 100%;
  display: flex;
  align-items: center;
}

#info-cards {
  width: 100%;
  height: 100%;
}

.card-inner h3 {
  font-size: 25px;
  margin: 10px;
}

.card-inner p {
  margin: 10px;
  font-size: 17px;
  color: hsl(0, 0%, 20%);
  line-height: 25px;
}

.card-inner button {
  margin: 10px;
  padding: 10px;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
}

.card-front button:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 10px hsl(0, 0%, 0%);
}

.card-front img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  flex-shrink: 0;
}

.card-back {
  background-color: hsl(0, 0%, 100%);
  color: hsl(48, 96%, 53%);
  display: flex;
  padding: 2px;
  flex-direction: column;
  align-items: center;
}

.card-back button {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  border: 1px solid hsl(48, 96%, 53%);
}

.card-back button:hover {
  background-color: hsl(48, 96%, 53%);
  color: white;
}