<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/products.css">
  <title>Faster</title>
</head>

<body>
  <header>
    <nav>
      <div class="logo">Faster Logistics</div>
      <div class="nav-links">
        <ul>
          <li><a href="../index.html">About</a></li>
          <li><a href="#footer">Contact</a></li>
          <li><a href="./login.html" id="login-btn" target="_blank">LogIn</a></li>
          <li><a href="./signup.html" id="signup-btn" target="_blank">SignUp</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <section class="services">
      <h2>Our Logistics Solutions</h2>
      <p>Choose from our range of fast, reliable, and flexible delivery options.</p>
      <div class="services-container">
        <div class="service-card">
          <div class="card-inner">
            <div class="card-front" id="info-cards">
              <img src="../images/slider-imgs/truck.jpg" alt="Road Transport">
              <h3>Road Transport</h3>
              <p>Reliable delivery across towns and regions using our fleet of vans, trucks, and motorcycles.</p>
              <button id="flip-btns">More Info</button>
            </div>
            <div class="card-back" id="info-cards">
              <h3>Road Transport</h3>
              <p>We offer same-day and regional road transport with real-time tracking and affordable pricing. Our road
                network connects urban and rural areas seamlessly, making sure no destination is out of reach. From
                small packages to bulk shipments, we scale solutions to fit your exact delivery needs.</p>
              <button id="flip-btns">Go Back</button>
            </div>
          </div>
        </div>
        <div class="service-card">
          <div class="card-inner">
            <div class="card-front" id="info-cards">
              <img src="../images/slider-imgs/plane.jpg" alt="Air Freight">
              <h3>Air Freight</h3>
              <p>Fast and secure shipping for urgent deliveries, ensuring your cargo reaches any destination quickly.
              </p>
              <button id="flip-btns">More Info</button>
            </div>
            <div class="card-back" id="info-cards">
              <h3>Air Freight</h3>
              <p>With partnerships across major airlines, we guarantee speed without compromising on security. Our
                specialized handling
                ensures delicate or high-value cargo reaches its destination intact.</p>
              <button id="flip-btns">Go Back</button>
            </div>
          </div>
        </div>
        <div class="service-card">
          <div class="card-inner">
            <div class="card-front" id="info-cards">
              <img src="../images/slider-imgs/cargo.avif" alt="Warehousing and Distribution">
              <h3>Warehousing & Distribution</h3>
              <p>Safe storage and efficient order fulfillment to keep your supply chain running smoothly.</p>
              <button id="flip-btns">More Info</button>
            </div>
            <div class="card-back" id="info-cards">
              <h3>Warehousing</h3>
              <p>Secure facilities with real-time inventory management and nationwide distribution. We provide flexible
                storage options from short-term to long-term inventory solutions.</p>
              <button id="flip-btns">Go Back</button>
            </div>
          </div>
        </div>

      </div>
    </section>
  </main>


  <footer id="footer">
    <div class="footer-links">
      <ul>
        <li><a href="./products.html">Products</a></li>
        <li><a href="#footer">Contact</a></li>
      </ul>
    </div>
    <div class="phone"><span>Phone:</span>
      <a href="tel:+254700011122">+254700011122</a> |
      <a href="tel:+254700011122">+254722111000</a>
    </div>
    <div class="email"><span>Mail:</span>
      <a href="mailto:fasterlogistics0@yahoo.com">fasterlogistics0@yahoo.com</a> |
      <a href="mailto:fasterhr@gmail.com">fasterhr@gmail.com</a>
    </div>
    <div class="copyright">&copy; Faster Logistics all rights reserved</div>
  </footer>
  <script src="../scripts/index.js"></script>
</body>

</html>