<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/signup.css">
  <title>Faster</title>
</head>

<body>
  <header>
    <nav>
      <div class="logo">Faster Logistics</div>
      <div class="nav-links">
        <ul>
          <li><a href="../index.html">About</a></li>
          <li><a href="#footer">Contact</a></li>
          <li><a href="./login.html" id="login-btn">LogIn</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <div class="signup-container">
      <div class="form-container">
        <form action="#" id="signup-form">
          <h3>Sign Up</h3>
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" required>
          <label for="username">Username:</label>
          <input type="text" name="username" id="username" required>
          <label for="pass">Password:</label>
          <input type="password" name="pass" id="pass" required min="8">
          <label for="dev-level">What best describes you:</label>
          <select name="dev-level" id="dev-level" required>
            <option value="--">--Select Title--</option>
            <option value="beginner">Buyer</option>
            <option value="novice">Seller</option>
          </select>
          <label for="quote">Leave a quote for the profile?(<i>optional</i>)</label>
          <textarea name="quote" id="quote"></textarea>
          <div class="email-notifications">Would you like to receive emails concerning shipments and product discounts?
            <div class="check-box">
              <input type="checkbox" name="email-notifications" id="email-notifications">
            </div>
          </div>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </main>
  <footer id="footer">
    <div class="footer-links">
      <ul>
        <li><a href="./products.html">Products</a></li>
        <li><a href="#footer">Contact</a></li>
      </ul>
    </div>
    <div class="phone"><span>Phone:</span>
      <a href="tel:+254700011122">+254700011122</a> |
      <a href="tel:+254700011122">+254722111000</a>
    </div>
    <div class="email"><span>Mail:</span>
      <a href="mailto:fasterlogistics0@yahoo.com">fasterlogistics0@yahoo.com</a> |
      <a href="mailto:fasterhr@gmail.com">fasterhr@gmail.com</a>
    </div>
    <div class="copyright">&copy; Faster Logistics all rights reserved</div>
  </footer>
</body>

</html>